################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet-Session-Entreprise/.vs/Projet-Session-Entreprise/DesignTimeBuild/.dtbcache.v2
/Projet-Session-Entreprise/.vs/Projet-Session-Entreprise/FileContentIndex/7b7deb95-0287-452e-8d71-4b359926fdca.vsidx
/Projet-Session-Entreprise/.vs/Projet-Session-Entreprise/FileContentIndex/892d1bed-7999-4e33-a9ca-a1215a1dba9a.vsidx
/Projet-Session-Entreprise/.vs/Projet-Session-Entreprise/FileContentIndex/f0fe50b0-8a6b-4c42-a85e-322f3b271189.vsidx
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Projet-Session-Entreprise.csproj.nuget.g.props
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Projet-Session-Entreprise.csproj.nuget.dgspec.json
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/project.nuget.cache
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/project.assets.json
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Debug/net8.0-windows/Projet-Session-Entreprise_MarkupCompile.i.cache
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Debug/net8.0-windows/Projet-Session-Entreprise.GeneratedMSBuildEditorConfig.editorconfig
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Debug/net8.0-windows/Projet-Session-Entreprise.designer.runtimeconfig.json
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Debug/net8.0-windows/Projet-Session-Entreprise.csproj.AssemblyReference.cache
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Debug/net8.0-windows/Projet-Session-Entreprise.assets.cache
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Debug/net8.0-windows/Projet-Session-Entreprise.AssemblyInfoInputs.cache
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/Projet-Session-Entreprise/Projet-Session-Entreprise/obj/Debug/net8.0-windows/Vues
