################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Projet-Session-Entreprise/.vs/Projet-Session-Entreprise/DesignTimeBuild/.dtbcache.v2
/Projet-Session-Entreprise/.vs/Projet-Session-Entreprise/FileContentIndex/7b7deb95-0287-452e-8d71-4b359926fdca.vsidx
/Projet-Session-Entreprise/.vs/Projet-Session-Entreprise/FileContentIndex/892d1bed-7999-4e33-a9ca-a1215a1dba9a.vsidx
/Projet-Session-Entreprise/.vs/Projet-Session-Entreprise/FileContentIndex/f0fe50b0-8a6b-4c42-a85e-322f3b271189.vsidx
